doctype
html
  head
    meta(charset="utf-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    )

    block vars
      
    title #{ pageTitle || "..." } | React Build Test

  body(ontouchstart="", class="canvas")
    //- ^ ontouchstart is a hack to make :active work on IOS. Fuck knows. Don't ask.

    for variation in variations
      div(
        id="cl__" + variation.key
        data-page-json=variation.json
        data-require-path=variation.requirePath
      )
        != variation.html

      br
      br

    script(type="text/javascript", src="/assets/js/react-with-addons.js")
    script(type="text/javascript", src="/assets/js/app-bundle.js")

    for variation in variations
      script(type="text/javascript").
        var componentWrapper = document.getElementById("cl__" + "#{ variation.key }");
        var path = componentWrapper.getAttribute("data-require-path");
        var json = componentWrapper.getAttribute("data-page-json");
        React.render(React.createElement(
          window.browserRequire(path), JSON.parse(json)
        ), componentWrapper);
